<?xml version="1.0"?>
<model>
  <name>Tilt-Hex</name>
  <version>1.0</version>
  <sdf version='1.5'>hexa_x_tilt_p.sdf</sdf>

  <author>
   <name>Li Zhengchen</name>
   <email>lizc@hnu.edu.cn</email>
  </author>

  <description>
    This is a model of omnidirectional hexarotor with tilted rotors.
  </description>
</model>

